<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Trilhas e Etc..</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-card>
    <ion-card-title>Conheça as Trilhas do...</ion-card-title>
    <ion-item>
      <ion-img  src="../../../assets/img/baner2.jpg"></ion-img>
    </ion-item>
   
    <ion-card-header>
     
      <ion-card-title>Rio de Janeiro</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Parque Nacional da Serra dos Órgãos</ion-card-title>
      <ion-img img-aling="left" src="../../../assets/img/parque-nacional-da-serra.jpg"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle><h2>sobre:</h2></ion-card-subtitle>
      Duração de 3 horas
    </ion-card-content>
  </ion-card>

</ion-content>
