<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Trilhas e Etc..</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="success">
  
  <ion-card >
    <ion-card-title>Conheça as Trilhas do...</ion-card-title>
    <ion-item>
      <ion-img  src="../../../assets/img/baner2.jpg"></ion-img>
    </ion-item>
   
    <ion-card-header>
     
      <ion-card-title>Rio de Janeiro</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of travel" >
    <ion-card-header >
      <ion-card-title >{{item.name}}</ion-card-title>
      <ion-img src={{item.src}}></ion-img>
    </ion-card-header>
  
    <ion-card-content >
      <ion-card-subtitle>sobre:</ion-card-subtitle>
      {{item.conted}}
    </ion-card-content>
  </ion-card>

</ion-content>
