.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-above{
    margin-top: 10em;
}

.sub {
    background: black;
    color: white;
}
.color{

    color:seagreen;
}