<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="dark">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Infomações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
<ion-card >
  <ion-card-title> Sobre Nós </ion-card-title>
  <ion-item>
    <ion-img  src="../../../assets/img/grupo.jpg"> </ion-img>
  </ion-item>
  <ion-card-title >
    <p></p>  Lorem ipsum conubia scelerisque nam nec adipiscing consectetur nunc,
    leo urna purus massa varius curabitur venenatis pulvinar curae,
    sapien ornare cras tellus elit magna rhoncus.  
  </ion-card-title>
</ion-card>


  <ion-button color="tertiary" href="home" >
    
    <ion-icon  name="home"></ion-icon>
  </ion-button><b>Voltar ao inicio</b>
<br>

  <ion-button color="tertiary" href="https://www.instagram.com/" target="_blank" >
    
    <ion-icon  name="logo-instagram" ></ion-icon> 
  </ion-button> <b> Nosso Insta!</b>
<br>
  <ion-button color="tertiary" href="http://dontpad.com/trilhas_etc" target="_blank" >
    
    <ion-icon  name="earth" ></ion-icon> 
  </ion-button> <b> Nosso Site</b>
  <br>
  <ion-button color="tertiary" href="mailto:trilhas_e_etc@gmail.com" target="_blank" >
    
    <ion-icon  name="at" ></ion-icon> 
  </ion-button> <b> Nos mande um E-mail</b>

</ion-content>
